# project specified
release
out

# --------------------------------
# tools
# --------------------------------

# cmake
build

# sphinx
doxyoutput
api

# --------------------------------
# IDE & OS
# --------------------------------

# macOS
.DS_Store

# vscode
.vscode

# pycharm
.idea

# --------------------------------
# C/C++
# --------------------------------

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# --------------------------------
# Python
# --------------------------------

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
